/* common styles */
.light-brown {
    color: #e76f51;
}

/* header section styles */
header {
    background-color: #264653;
}
.my-btn {
    color: white;
    background-color: #e76f51;
    padding: 10px 50px;
}
.my-btn:hover {
    color: black;
    background-color: #e76f51;
}

/* featured bikes section */
.bike-color-gray {
    filter: grayscale(100%);
}

/* latest news section */
.my-btn-2 {
    color: #e76f51;
    background-color: transparent;
    border: 1px solid #e76f51;
}
.my-btn-2:hover {
    color: white;
    background-color: #e76f51;
}

/* review section styles */
.clients-name {
    color: #23a6f0;
}

/* subscribe section styles */
.subscribe-bg {
    background-color: #fff0ea;
}
